name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: |
          poetry install

      - name: Lint
        run: |
          poetry run ruff check src tests
          poetry run mypy src

      - name: Test
        run: |
          poetry run pytest --cov=crispr_screens --cov-report=xml

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        if: success()
        with:
          files: ./coverage.xml
          fail_ci_if_error: false
